.App {
  text-align: center;
}

img.logo {
  transform:scale(3);
  animation: App-logo-spin infinite 1s linear;
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 20vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
button.roulette {

	margin: 10%;
	border-radius: 100px;
	height: 200px;
	width: 200px;
	border: 2px solid black;
	box-shadow: 10px 5px 5px gray;
	background-image:url(gregoire.jpg);
	background-repeat:no-repeat;
	background-size: contain;
}

button.roulette{
	animation: roulette-spin infinite 2s linear;
	
  }

  @keyframes  roulette-spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }
a{
margin-left: 10px;
margin-right: 10px;
border: solid 1px black;
background-color: grey;
color: white;
padding: 5px;
text-decoration:none;
box-shadow: 10px 5px 5px black;
}


a:nth-child(6){
  
  border-radius: 60px;
  min-height:100px;
  width:60px;
  background-color:red;


}
a:hover{
color:black;
}

.App-link {
  color: #61dafb;
}
button{
margin: 5%;
border: solid 1px black;
background-color: grey;
color: white;
padding: 5px;
text-decoration:none;
box-shadow: 10px 5px 5px black;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul{
 visibility:hidden; 

}





button.Reset{


transform:translateX(350px);
border-radius: 50px;
height:60px;
width:60px;
background-color:red;


}
